{% extends "blog/base.html" %}
{% block content %}
     <article class="media content-section">
          <div class="media-body">
               <h2>About</h2>
               <p class="article-content">
                    Welcome to Book Sage, a community-driven platform for sharing your love of reading and discovering new books. We believe that books can inspire and transform us, and we want to make it easy for you to connect with others who feel the same way.
                    
                    Our platform allows you to create a personal profile, where you can share information about yourself and your reading preferences. You can also create posts about the books you've read, including reviews, recommendations, and discussions. Other users can comment on your posts and engage with you in conversations about your favorite books.
                    
                    We're committed to creating a welcoming and inclusive community, where readers of all backgrounds and identities can feel comfortable sharing their thoughts and experiences. We encourage respectful and constructive dialogue, and we expect all users to adhere to our community guidelines.
                    
                    Our mission is to help you discover new books and connect with other readers who share your interests. We believe that books have the power to broaden our horizons and deepen our understanding of the world, and we're excited to be a part of your reading journey.
                    
                    Thank you for joining us at Book Sage. Happy reading!
               </p>
          </div>
     </article>
{% endblock %}